<footer id="footer" style="width: 100%; background: rgba(0, 128, 128, 0.062); margin-top: auto;">
    <div class="container footer-bottom clearfix" style="background: rgba(0, 128, 128, 0.062); color: black; width: 100%; text-align: center;">
        <div class="copyright" style="padding: 10px 0;">
            <span><script>document.write(new Date().getFullYear());</script> &copy; Great Alliance JHS</span>. Developed by KING LOTH.
        </div>
        <div class="credits">
            <!-- Optional credits here -->
        </div>
    </div>
</footer>

