{% extends 'hod_templates/base_template.html' %}
{% block main_content %}
<main id="main">
    <section id="services" class="services section-bg" style="margin-top: 100px; background: white;">
        <div class="container">

            <div class="row">
                <div class="form-style-5">
                    <form action="{% url 'add_level_save' %}" method="post" role="form" class="">
                        {% csrf_token %}
                        <fieldset>
                        <h5>
                            {% if messages %}
                            <!--<div class="col-12">-->
                            {% for message in messages %}
                        
                            {% if message.tags == 'error' %}
                            <h5 style="color: red;">{{message}}</h5>
                            {% endif %}
                            {% if message.tags == 'success' %}
                            <div class="alert alert-success" style="text-align: center;">{{ message }}</div>
                            {% endif %}
                            {% endfor %}
                            <!--</div>-->
                            {% endif %}
                        </h5>
                            <legend><span class="number">+</span>Add Class</legend>
                            <label for="">Class:
                            </label>
                            <select class="form-control" name="level_name" required placeholder="Level"
                                style="text-align: center;">
                                <option value="Nursery School">Nursery School</option>
                                <option value="Kindergarten 1">Kindergarten 1</option>
                                <option value="Kindergarten 2">Kindergarten 2</option>
                                <option value="Basic 1">Basic 1</option>
                                <option value="Basic 2">Basic 2</option>
                                <option value="Basic 3">Basic 3</option>
                                <option value="Basic 4">Basic 4</option>
                                <option value="Basic 5">Basic 5</option>
                                <option value="Basic 6">Basic 6</option>
                                <option value="Basic 7">Basic 7</option>
                                <option value="Basic 8">Basic 8</option>
                                <option value="Basic 9">Basic 9</option>
                                <option value="Alumni">Alumni</option>
                            </select>
                            <label for="">Class Tutor:
                            </label>
                            <select name="staff_id" id="staff_id" class="form-control" required>
                                {% for staff in staffs %}
                                <option value="{{ staff.id }}" style="text-align: center;">
                                    {{ staff.first_name }} {{ staff.last_name }}
                                </option>
                                {% endfor %}
                            </select>

                        </fieldset>

                        <button type="submit" value="Apply" class="form-control btn btn-secondary">Submit</button>
                    </form>
                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->

{% endblock main_content %}