{% extends 'hod_templates/base_template.html' %}
{% block main_content %}

<main id="main">
  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact" style="margin-top: 50px;">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <p style="font-size: large;">
          <b>Update <i>{{ course.course_name }}</i></b></p>
      </div>

      <div class="row mt-5" style="border: 1px solid black;">
        <div class="col-lg-8 mt-5 mt-lg-0">
          <form action="{% url 'edit_level_save' %}" method="post" role="form" class="">
            {% csrf_token %}
            <div class="row" style="margin-top: 25px;">
              <h5>
                {% if messages %}
                {% for message in messages %}
                {% if message.tags == 'error' %}
                <h5 style="color: red;">{{message}}</h5>
                {% endif %}
                {% if message.tags == 'success' %}
                <div class="alert alert-success" style="text-align: center;">{{ message }}</div>
                {% endif %}
                {% endfor %}
                {% endif %}
              </h5>

              <div class="col-md-6 form-group">
                <label style="color:black">Class:</label>
                <input type="text" name="level_name" class="form-control" placeholder="Class" 
                value="{{ student_level.level_name }}">
                <input type="hidden" class="form-control" name="student_level_id" value="{{student_level.id}}">
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <label style="color: black;">Teacher:</label>
                <select class="form-control" name="staff">
                  {% for staff in staffs %}
                  <option value="{{ staff.id}}" {% if staff.id == student_level.staff_id.id %} selected {% endif %}>
                    {{staff.first_name}} {{staff.last_name}}
                  </option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="text-center">
              <button type="submit" style="border-radius: 5px;margin-bottom: 45px;" 
              class="form-control btn btn-secondary">Submit</button>
            </div>
          </form>
        </div>
      </div>

    </div>
  </section><!-- End Contact Section -->

</main><!-- End #main -->

{% endblock main_content %}